.top{
	height: 170px;
	background-color: #fff;
	position: fixed;
	top: 0px;
	left: 20%;
}
.top_con{
	width: 850px;
	margin: 0 auto;
}
.mid{
	height: 275px;
	background-color: #e1e8e5;
	position: fixed;
	top: 170px;
	padding: 0 20%;
}
.bottom{
	height: 230px;
	position: fixed;
	top: 445px;
	left: 20%
}
.left{
	position: absolute;
    left: 0;
    top: 0;
    width: 675px;
    z-index: 50;
	background-color: #fff;
}
a{
	text-decoration: none;
}
.sroll{
	position: relative;
	z-index: 49;
	top: 170px;
	width: 400px;
	left: 120px;
}
